<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logomanoslocales"
        android:label="Manos Locales"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ManosLocales"
        tools:targetApi="31">
        <activity
            android:name=".ui.main.PantallaPrincipalActivity"
            android:exported="true"
            android:theme="@style/Theme.ManosLocales"/>
        <activity
            android:name=".ui.forgotPassword.ForgotPasswordActivity"
            android:exported="false"
            android:label="@string/title_activity_forgot_password"
            android:theme="@style/Theme.ManosLocales" />
        <!-- Aca en el theme tuve que poner otra cosa no se por que verga no me dejaba poner el  android:theme="@style/Theme.ManosLocales"> -->
        <!-- <activity -->
        <!-- android:name=".activities.PantallaPrincipalActivity" -->
        <!-- android:exported="true" -->
        <!-- android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar"> -->
        <!-- </activity> -->
        <!-- Aca en el theme tuve que poner otra cosa no se por que verga no me dejaba poner el  android:theme="@style/Theme.ManosLocales"> -->
        <activity
            android:name=".ui.signUp.SignUpActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>
        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="true"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.ManosLocales">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>